.play-game-container {
    display: flex;
    flex-direction: column;
}

.play-game-container-item1-heading {
    font-size: 32px;
    text-align: center;
}

.play-game-container-item2-numbers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.button-numbers {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    color: black;
    background-color: blue;
    border-radius: 4px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.button-numbers:hover {
    border: 1px solid blue;
    color: white;
    background-color: green;
}

.button-selected-number {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 4px;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border: 1px solid black;

}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.para-dice {
    text-align: center;
    margin-top: -2px;
}


.score-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.score-container-item1 {
    font-size: 44px;
    color: white;
    align-self: center;
    background-color: blue;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(132, 14, 243);
}

.score-container-item2 {
    font-size: 32px;
    color: black;
    align-self: center;
}

.button-reset-score {
    align-self: center;
    width: 203px;
    height: 38px;
    line-height: 38px;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;

}

.button-reset-score:hover {
    color: blue;
    border: 1px solid blue;

}

.green {
    color: green;
}

.red {
    color: red;
}
